# OS metadata
.DS_Store
Thumbs.db

# Yarn v2 Berry

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.yarn/build-state.yml
/.yarn/cache
/.yarn/unplugged
.pnp/
.pnp.js
.yarn-integrity

**/node_modules/

# TypeScript

*.tsbuildinfo

# Jest Istanbul coverage report
/coverage

# API keys and secrets
.env
